.products-title {
    font-weight: 500;
    letter-spacing: 2px;
    padding: 50px 0;
    text-align: center;
}

.products-title, .products-container p {
    color: var(--accent-color);
}

.products-dropdown {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.products-dropdown select {
    background-color: transparent;
    border: 1px solid var(--second-color);
    border-radius: 8px;
    box-shadow: 0 3px 15px -5px var(--second-color);
    color: var(--second-color);
    font-family: var(--text-font), sans-serif;
    font-size: 16px;
    margin-top: 5px;
    outline: none;
    padding: 10px;
    width: 100%;
}

.products-dropdown option {
    background-color: var(--first-color);
}

.clear-filters-btn {
    background-color: transparent;
    color: var(--accent-color);
    font-family: var(--text-font), sans-serif;
    font-size: 16px;
}

.products-container {
    display: block;
}

@media (min-width: 768px) {
    .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 -10px;
    }

    .products-dropdown {
        flex-wrap: nowrap;
    }

    .products-title {
        padding-bottom: 30px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .products-container {
        margin: 0 -20px;
    }
}

@media (min-width: 1024px) {
    .products-dropdown select {
        width: 30%;
    }
}

/***** Detalle del producto *****/

.header-product-detail {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 30vh;
    position: relative;
}

.product-detail {
    background-color: var(--accent-color);
    border-radius: 8px;
    left: 0;
    padding: 30px 10px;
    position: absolute;
    top: 50%;
    margin: 0 10px;
}

.product-detail h1 {
    padding-bottom: 20px;
    text-align: center;
}

.detail-section-1 {
    padding-bottom: 15px;
}

.detail-section-2 .title {
    padding-bottom: 8px;
}

.detail-section-3 {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
