.products-title {
    font-weight: 500;
    letter-spacing: 2px;
    padding: 50px 0;
    text-align: center;
}

.products-title, .products-container p {
    color: var(--accent-color);
}

.products-dropdown {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.products-dropdown select {
    background-color: transparent;
    border: 1px solid var(--second-color);
    border-radius: 8px;
    box-shadow: 0 3px 15px -5px var(--second-color);
    color: var(--second-color);
    font-family: var(--text-font), sans-serif;
    font-size: 16px;
    margin-top: 5px;
    outline: none;
    padding: 10px;
    width: 100%;
}

.products-dropdown option {
    background-color: var(--first-color);
}

.clear-filters-btn {
    background-color: transparent;
    color: var(--accent-color);
    font-family: var(--text-font), sans-serif;
    font-size: 16px;
}

.products-container {
    display: block;
}

@media (min-width: 768px) {
    .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 -10px;
    }

    .products-dropdown {
        flex-wrap: nowrap;
    }

    .products-title {
        padding-bottom: 30px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .products-container {
        margin: 0 -20px;
    }
}

@media (min-width: 1024px) {
    .products-dropdown select {
        width: 30%;
    }
}

/***** Detalle del producto *****/

.product-detail {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.product-detail .overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0; 
}
  
.product-detail-info {
    background-color: rgba(0,0,0, 0.8);
    border: 1px solid var(--second-color);
    box-shadow: 0 0 20px rgba(255, 195, 107, 0.5);
    border-radius: 12px;
    color: var(--accent-color);
    padding: 40px 15px;
}

.product-detail-info strong {
    color: var(--second-color);
    font-weight: normal;
}

.product-detail-info h1 {
    color: var(--second-color);
    padding-bottom: 20px;
}

.detail-section-1 {
    padding-bottom: 20px;
}

.detail-section-2 .title {
    color: var(--second-color);
    padding-bottom: 8px;
}

.detail-section-3 {
    align-items: center;
    display: flex;
    font-size: 18px;
    gap: 16px;
    padding: 20px 0;
}

.detail-section-3 p:last-child {
    color: var(--second-color);
    font-size: 2em;
}

.text-error {
    color: var(--accent-color);
    text-align: center;
    padding: 50px 10px;
}

@media (min-width: 768px) {
    .detail-section-3 {
        gap: 30px;
    }
}

@media (min-width: 1024px) {
    .overlay {
        background-position: center;
        background-size: cover;
        opacity: 50%;
        width: 50%;
    }

    .product-detail {
        justify-content: flex-end;
        margin-top: 30px;
    }

    .product-detail-info {
        padding: 40px 25px;
    }
}

@media (max-width: 1023px) {
    .overlay {
        background: rgba(0, 0, 0, 0.5);
    }
}
