.custom-table-wrapper {
    overflow-x: auto; 
}

.custom-table {
    border-collapse: collapse;
    width: 100%; 
}

.custom-table td {
    color: var(--accent-color);
    text-align: center;
}

.custom-table th {
    border-bottom: 1px solid var(--second-color);
    color: var(--second-color);
    font-weight: bold;
}

.custom-table th,
.custom-table td {
    padding: 12px;
}

.custom-table tr:nth-child(even) {
    background-color: rgba(224, 224, 224, 0.05); 
}

.container-admin-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.custom-table .btn-edit, .custom-table .btn-see,
.custom-table .btn-delete {
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    color: #ffc36b;
    display: flex;
    font-size: 16px;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.custom-table .btn-edit {
    border: 2px solid #3498db;
}

.custom-table .btn-delete {
    border: 2px solid #e74c3c;
}

.custom-table .btn-see {
    border: 2px solid yellow;
}

.container-delete p,
.container-order p {
    padding-bottom: 40px;
}

.container-delete button, 
.container-order button {
    background-color: transparent !important;
    border: 1px solid var(--second-color);
    border-radius: 8px;
    color: var(--second-color) !important;
    font-family: var(--text-font);
    font-size: 16px;
    padding: 10px;  
    transition: all 500ms ease;
    width: 100%;
}

.container-delete button:hover,
.container-order button:hover {
    background-color: var(--second-color) !important;
    color: var(--first-color) !important;
}

@media (min-width: 769px) {
    .custom-table {
        width: 100%; 
    }
}
