.header-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--first-color);
  top: 0;
  z-index: 999;
}

.header-logo {
  margin: 0.8rem 0;
}

.header-cart {
  position: absolute;
  top: 2rem;
  right: 5rem;
  cursor: pointer;
}

.header-cart .bxs-cart {
  font-size: 2rem;
  color: var(--second-color);
}

.menu {
  display: flex;
  position: absolute;
  top: 2rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

.menu .bx-user,
.menu .bx-close {
  font-size: 2rem;
  color: var(--second-color);
}

.header-search {
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.header-search input {
  color: var(--accent-color);
}

.header-search-btn {
  border: 1px solid var(--second-color);
  background-color: var(--second-color);
  border-radius: 40px 0 0 40px;
}

.btn-search-p {
  font-size: 1.4em;
  background-color: var(--second-color);
  color: var(--first-color);
  margin: 0 0.7em;
}

.header-search-prod {
  border: 1px solid var(--second-color);
  width: 180px;
  border-radius: 0 40px 40px 0;
  background-color: var(--first-color);
  margin: 0;
}

.header-search-prod:focus {
  outline: none;
}

.header-item-link {
  display: block;
  text-decoration: none;
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.2rem 0.5rem;
  transition: all 500ms ease;
}

.header-item-link:hover {
  color: var(--first-color);
  background-color: var(--second-color);
}

nav {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

nav ul {
  display: none;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

nav.open {
  display: flex;
}

nav ul.open {
  display: flex;
}

.header-item {
  width: 100%;
  text-align: center;
}

@media (min-width: 998px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-cart {
    top: 2.2rem;
    right: 1.8rem;
  }

  .menu {
    display: none;
  }

  nav,
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 2rem;
  }

  .header-search {
    margin: 0 0.5rem;
  }

  .header-item {
    width: auto;
    text-align: left;
  }

  .header-item-link {
    margin: 0 0.5rem;
  }
}
